.week-slider {
    width: 800px;
    margin: 0 auto;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slick-prev:before,
.slick-next:before {
    position: absolute;
    font-family: 'slick';
    font-size: 30px;
    /* line-height: 1;
    opacity: 0.75; */
    color: rgb(87, 87, 87);
}

.slick-prev:before {
    right: 10px;
    /* bottom: 2px; */
}

.day {
    background-color: rgb(200, 200, 200);
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 7px;
}

.my-card {
    width: 90%;
}
