/* SLIDER STYLES */

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    width: 90%;
    margin: auto;
}

.slider button {
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.391);
    color: white;
    border: none;
    cursor: pointer;
}

.slider button:hover {
    background-color: rgba(0, 0, 0, 0.303);
}

/* END */

/* WEEK CONTAINER AND CARD STYLES */

.week-header {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.week-card {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.week-card.displaySlide {
    display: flex;
    animation: slide-effect 0.4s ease-in;
}

/* END */

/* DAY CONTAINER AND EVENT CARD STYLES */

.day-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 320px;
    border: 1px solid rgba(0, 0, 0, 0.208);
    margin: 0.2rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 2px 2px;
}

.events-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin-bottom: 0.1rem;
}

.my-card {
    margin: 0.3rem;
    margin-top: 0;
    height: 48%;
    border: none;
    background-color: #797c8f;
    border-radius: 0;
    cursor: pointer;
}

.my-card:hover {
    background-color: #82859a;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 3px 3px;
}

.my-card-body {
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sport-title {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.vs {
    font-weight: 700;
    font-size: 0.8rem;
}

.teams {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.my-card-text {
    color: white;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.3rem;
    margin: 0;
}

.no-events {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.no-events p {
    text-align: center;
    font-weight: 500;
}

.day {
    height: 10%;
    margin: 0.4rem;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.208);
}

.more-btn-container {
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.208);
    z-index: 2;
}

.my-btn {
    display: inline-block;
    text-decoration: none;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    background-color: #a18e8e;
    color: #ffffff;
    padding: 0.2rem 1rem;
    height: 100%;
    width: 100%;
    text-align: center;
}

.my-btn:hover {
    background-color: #ad9999;
}

/* END */

/* LEFT AND RIGHT SLIDER BUTTONS */

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* END */

@keyframes slide-effect {
    from {
        /* transform: translateX(0%); */
        opacity: 0.5;
    }
    to {
        /* transform: translateX(-100%); */
        opacity: 1;
    }
}
